extends layout

block content
  img(src='/slj.jpg')
  p#about Donec vestibulum orci id dui iaculis elementum. Sed id odio eu magna ullamcorper consectetur. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut quam quam, pretium id pulvinar ut, dictum gravida est. Nulla facilisi. Cras congue libero urna, eu consequat lorem interdum at. Sed quis faucibus turpis. Sed lectus ipsum, vestibulum vitae felis et, tempus ornare nisi. Phasellus velit eros, aliquam sit amet aliquet vel, placerat a mi. Nulla pharetra nisl non turpis elementum lobortis. Cras dapibus, diam non dignissim accumsan, libero diam hendrerit erat, ac dignissim massa libero ut eros. In lectus sapien, gravida nec sapien sit amet, tempor dignissim nisi. Sed sed velit gravida, interdum nibh mattis, tempor dui.