extends layout

block content
  h1= title
  p Welcome to #{title}
  p Proin mattis maximus posuere. Nulla semper auctor hendrerit. Duis at tortor dictum, semper eros porttitor, semper odio. Integer molestie est sed nibh posuere placerat sit amet ac nunc. Morbi lacinia luctus ligula eget posuere. Quisque dictum, urna ut mattis ultricies, velit orci malesuada orci, in tempor lorem quam nec mi. Maecenas sagittis, ante a placerat tincidunt, eros enim posuere dui, a tincidunt nulla velit nec libero. Morbi hendrerit quam id vehicula blandit. Aenean rhoncus ullamcorper fringilla. Phasellus eu arcu non augue ultrices ultricies.
  p Donec vestibulum orci id dui iaculis elementum. Sed id odio eu magna ullamcorper consectetur. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut quam quam, pretium id pulvinar ut, dictum gravida est. Nulla facilisi. Cras congue libero urna, eu consequat lorem interdum at. Sed quis faucibus turpis. Sed lectus ipsum, vestibulum vitae felis et, tempus ornare nisi. Phasellus velit eros, aliquam sit amet aliquet vel, placerat a mi. Nulla pharetra nisl non turpis elementum lobortis. Cras dapibus, diam non dignissim accumsan, libero diam hendrerit erat, ac dignissim massa libero ut eros. In lectus sapien, gravida nec sapien sit amet, tempor dignissim nisi. Sed sed velit gravida, interdum nibh mattis, tempor dui.